<%= form_with(model: training, local: true) do |form| %>
  <% if training.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(training.errors.count, "error") %> prohibited this training from being saved:</h2>

      <ul>
      <% training.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%# <div class="field"> %>
    <%# <%= form.label :user_id %>
    <%# <%= form.text_field :user_id, id: :training_user_id %>
  <%# </div> %>

  <div class="field">
    <%= form.label "Количество" %>
    <%= form.number_field :count, id: :training_count %>
  </div>

  <div class="field">
    <%= form.label "Подходов"%>
    <%= form.number_field :approaches, id: :training_approaches %>
  </div>

  <div class="field">
    <%= form.label "Комментарии" %>
    <%= form.text_field :comments, id: :training_comments %>
  </div>

  <div class="actions">
    <%= form.submit "Завершить" %>
  </div>
<% end %>
